.projects-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  opacity: 0;
}

.project-wrapper {
  color: white;
  width: 90%;
  border: 1px solid white;
  border-radius: 15px;
  margin: 10px auto;
  text-align: left;
  padding: 48px 55px;
  background-color: #002938;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 94%, 50% 100%, 0 94%, 0 0);
  clip-path: polygon(50% 5%, 100% 0, 100% 94%, 50% 100%, 0 94%, 0 0);
}

.project-description {
  padding: 0 10px 5px;
  position: relative;
}
.projects-container h1 {
  margin: -20px 0 -10px;
}

.project-wrapper p {
  line-height: 1.3em;
}

.project-wrapper i {
  padding: 3px;
}

.project-title {
  font-size: 17px;
  display: block;
  font-weight: 700;
  margin: 8px 0 5px;
}

.project-wrapper img {
  width: 90%;
}

.project-links {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.link-btn {
  border: 1px solid black;
  background-color: red;
  border-radius: 7px;
  margin: 0 10px;
}

.demo-btn {
  display: block;
  margin: 20px auto;
  position: relative;
  background-color: blue;
  border-radius: 7px;
}

#short-wrapper{
  animation: shorten 1s forwards ease-out;
  -webkit-animation: shorten 1s forwards ease-out;
}

#long-wrapper {
  animation: lengthen 1s forwards ease-out;
  -webkit-animation: lengthen 1s forwards ease-out;
}

#slide-in {
  animation: slide-in 1s forwards ease-out;
  -webkit-animation: slide-in 1s forwards ease-out;
}

@keyframes slide-in {
    75% { transform:  translateX(1%);}
    90% { transform: translateX(-1%);}
    100%{ transform: translateX(0%); opacity: 1 }
}

@-webkit-keyframes slide-in {
    75% { transform:  translateX(1%);}
    90% { transform: translateX(-1%);}
    100%{ transform: translateX(0%); opacity: 1}
}


@media screen and (max-width: 500px) {
  @-webkit-keyframes lengthen {
      0% { height: 550px; }
      100%{ height: 750px; }
  }
  @keyframes lengthen {
      0% { height: 550px; }
      100%{ height: 750px; }
  }
  @-webkit-keyframes shorten {
      0% { height: 750px; }
      100%{ height: 550px; }
  }
  @keyframes shorten {
      0% { height: 750px; }
      100%{ height: 550px; }
  }

  .link-btn, .demo-btn {
    width: 90px;
  }
}
