.projectVideo-outerDiv {
  width: fit-content;
  z-index: 999;
  overflow: hidden;
  margin: 30px auto;
}

#hide {
  opacity: 1;
  animation: transition-out 1s forwards ease-in-out;
}

#show {
  transform: translateY(-50%);
  opacity: 0;
  animation: transition-in 1s forwards ease-out;
}

@keyframes transition-in {
  30% { opacity: 0;}
  80% { opacity: .5;}
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transition-out {
  50% { opacity: 0;}
  100%{
    height: 0;
    transform: translateY(-50%);
    display: none;
  }
}

.projectVideo-innerDiv {
  border-radius: 7px;
}

@media screen and (min-width: 600px) {
  .projectVideo-innerDiv>iframe {
    width: 500px;
    height: 260px;
  }
}

@media screen and (max-width: 599pc) {
  .projectVideo-innerDiv>iframe {
    width: 100%;
    height: 100%;
    box-shadow: 20px 20px 30px #000333
  }
}
