.header-wrapper {
  text-align: center;
  background: pink;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  margin: 0 auto 20px;
  top: 0;
}
