.header-wrapper {
  background-color: #171d257a;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  margin: 82px auto 20px;
  width: 100%;
}

#intro-header {
  margin: 40px 0 5px;
  font-size: 150px;
  text-align: justify;
  color: #66fcf1;
}

#header-description {
  margin: 20px auto 0;
  width: 60%;
  padding: 10px 10vw;
  color: white;
}

#header-picture {
  padding: 40px;
  border-radius: 7px;
}

#my-face {
  width: 100%;
  border-radius: 4px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.2)
}

#header-picture::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%,#0b0c10 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

@media only screen and (min-width: 601px) {
  .header-wrapper {
    height: 70vh;

  }

  #header {
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #header-picture {
    position: absolute;
    right: 0;
    width: 325px;
  }

  #header-description {
    margin: 0 0 0 3vw;
    position: absolute;
    width: 40%;
    padding: 10px 0;
    left: 0;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  #header-description h2 {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 600px) {
  #header {
    width: 100%;
    top: 0;
  }

  #header-description {
    width: 100%;
  }
}
