*{
  box-sizing: border-box;
}

.App {
  opacity: 0;
  animation: fade-in 2s forwards ease-in-out;
  -webkit-animation: fade-in 2s forwards ease-in-out;
}

@keyframes fade-in {
  75% {opacity: .9; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in {
  75% {opacity: .9;}
  100% { opacity: 1;}
}
