*{
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: fade-in 2s forwards ease-in-out;
  -webkit-animation: fade-in 2s forwards ease-in-out;
}

html {
  background-color: #0b0c10;
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
}

@keyframes fade-in {
  75% {opacity: .9; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in {
  75% {opacity: .9;}
  100% { opacity: 1;}
}
