@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.left-side-nav {
  display: inline-block;
  position: absolute;
  left: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 84px;
  transition: all ease .7s;
  left: 0;
  z-index: 800;
  box-shadow: none;
  background-color: #212428;
  color: #66fcf1;
}

.menu-list-anchors {
  font-weight: bold;
  right: 30px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-list-anchors p {
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;
  border-bottom: 4px solid transparent;
}

.menu-list-anchors p:hover {
  cursor: pointer;
  border-bottom: 2px solid #66fcf1;
}

#navbar-show {
  box-shadow: 0 2px 15px rgba(0,0,0,0.08);
  background-color: #c5c6c7eb;
  height: 102px;
  color: #1f2833;
}

#navbar-show .bm-burger-bars {
  background-color: #264753;
}

#navbar-name {
  display: inline-block;
  left: 36px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#navbar-name h4 {
  font-size: 1.7rem;
}

.bm-burger-button {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2rem;
  right: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #66fcf1;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #66fcf1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #66fcf1;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background-color: #0b0c10;
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  padding: 2.5em 1.5em 0;
  font-size: 1.55em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

.bm-item-list p {
  font-family: 'Raleway', Arial, sans-serif;
  padding: .8em;
  font-size: .9em;
}

.bm-item-list i {
  color: white;
}

.anchor-link {
  color: #66fcf1;
  font-weight: 700;
  margin-left: 10px;
}

.bm-menu p {
  color: #b8b7ad;
  text-decoration: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
