.aboutMe-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 33px auto 0;
}

.aboutMe-description {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-radius: 5px;
  margin: 10px auto 0;
  padding: 95px 15px 20px;
  background-color: #171d257a;
  color: transparent;
  display: grid;
}

.aboutMe h3{
  color: #66fcf1;
}

.aboutMe p, .aboutMe a {
  color: #c5c6c7;
  line-height: 150%;
}

.aboutMe a i {
  color: #66fcf1;
}

.aboutMe-contact a {
  display: block;
  text-decoration: none;
}

#myFace-but-small {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 625px) {
  .aboutMe-description {
    grid-auto-rows: 2fr 1 2fr;
    grid-row-gap: 20px;
    text-align: center;
  }

  .aboutMe h3{
    text-align: center;
  }

  .aboutMe-wrapper {
    clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@media screen and (min-width: 626px) {
  .aboutMe-description {
    grid-template-columns: 2fr auto 2fr;
    grid-column-gap: 100px;
  }

  .aboutMe-wrapper {
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
