.aboutMe-wrapper {
  text-align: center;
  position: relative;
  margin: 33px auto 100px;
}

.aboutMe-description {
  margin: 0 auto;
  text-align: left;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto 30px;
  padding: 28px 55px 40px;
  width: 90%;
  background-color: #002938;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  color: white;
  -webkit-clip-path: polygon(50% 8%, 100% 0, 100% 88%, 50% 100%, 88%, 0 0);
  clip-path: polygon(50% 8%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
}

.aboutMe-wrapper h1 {
  margin: 20px 0 0;
  color: #002938;
}

@keyframes pictureShrink {
    100%  {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
}

@-webkit-keyframes pictureShrink {
  100%  {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

/*
@keyframes pictureGrow-topDiv {
    100%  {
      border-radius: 12px;
      width: 250px;
      height: 250px;
    }
}

@-webkit-keyframes pictureGrow-topDiv {
  100%  {
    border-radius: 12px;
    width: 250px;
    height: 250px;
  }
}

@keyframes pictureGrow-pictureDiv {
    100%  {
      border-radius: 12px;
      width: 200px;
      height: 200px;
    }
}

@-webkit-keyframes pictureGrow-pictureDiv {
  100%  {
    border-radius: 12px;
    width: 200px;
    height: 200px;
  }
}*/

#hideImg .aboutMe-topDiv, #hideImg .aboutMe-topDiv img{
  animation: pictureShrink 1s forwards ease-in-out;
  -webkit-animation: pictureShrink 1s forwards ease-in-out;
}

.aboutMe-topDiv {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  border: 1px dashed green;
  margin: 20px auto;
  background-color: #002938;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  position: relative;
}

#myFace-but-small {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  margin: 0 auto;
  display: block;
  transform: translateY(10%);
}

@media screen and (max-width: 625px) {
  .aboutMe-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 626px) {
  .aboutMe-wrapper {
    width: 700px;
  }
}
